<html>
<h1>Dice Roll</h1>
<form action="https://reimagined-fishstick-wrxq6575x77pc95jg-4567.app.github.dev">
  <label for="num_dice">Number of dice to roll?</label>
  <input id="num_dice" name="num_dice">
  <label for="sides">How many sides per die?</label>
  <input id="sides" name="sides">
  <button>Submit</button>
</form>
</html>
